
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
    <h3>ViewBag: @ViewBag.Name</h3>
    <h3>ViewData: @ViewData["Name"]</h3>
    <h3>TempData: @TempData["Name"]</h3>
</body>
</html>
